<template name="appBody">
	{{#unless connected}}
		<h4 class="title text-centered">Verificando conexão</h4>
		<p class="text-centered">Parece que temos um probleminha de conexão. Aguarde...</p>
	{{/unless}}

	{{> yield}}

	<!-- MENU -->
	{{#if menuOpen}}
	<nav class="bar bar-tab">
		<a class="tab-item {{#if pathnameEquals '/noticias'}}active{{/if}}" href="/noticias">
			<span class="icon icon-list"></span>
			<span class="tab-label">Notícias</span>
		</a>
		<a class="tab-item {{#if pathnameEquals '/eventos'}}active{{/if}}" href="/eventos">
			<span class="icon icon-star"></span>
			<span class="tab-label">Eventos</span>
		</a>
		<a class="tab-item {{#if pathnameEquals '/sobre'}}active{{/if}}" href="/sobre">
			<span class="icon icon-info"></span>
			<span class="tab-label">Sobre</span>
		</a>
		<!--<a class="tab-item" href="#">
			<span class="icon icon-gear"></span>
			<span class="tab-label">Configurações</span>
		</a>-->
	</nav>
	{{/if}}
</template>
