<template name="appNotFound">
	<!-- Make sure all your bars are the first things in your <body> -->
	<header class="bar bar-nav">
		<h1 class="title">404</h1>
	</header>

	<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
	<div class="content">

		<div id="pubTime">

			<br style="clear: both" />
			<h4 >Página não encontrada</h4>
			<span class="badge">:(</span>
			<br style="clear: both" />
			<br style="clear: both" />
			<a href="/" class="btn">Voltar a Home</a>
		</div>
	</div>
</template>
