<template name="appBody">
	{{#unless connected}}
		<div id="notification" class="modal">
			<header class="bar bar-nav">
				<a class="icon icon-close pull-right" href="#notification"></a>
				<h1 class="title">Verificando conexão</h1>
			</header>

			<div class="content">
				<p class="content-padded">Parece que temos um probleminha de conexão. Aguarde...</p>
				{{>spinner}}
			</div>
		</div>
	{{else}}
		{{> yield}}
	{{/unless}}

	<!-- MENU -->
	{{#if menuOpen}}
	<nav class="bar bar-tab">
		<a class="tab-item active" href="/noticias">
			<span class="icon icon-list"></span>
			<span class="tab-label">Notícias</span>
		</a>
		<a class="tab-item" href="/eventos">
			<span class="icon icon-star"></span>
			<span class="tab-label">Eventos</span>
		</a>
		<a class="tab-item" href="/sobre">
			<span class="icon icon-info"></span>
			<span class="tab-label">Sobre</span>
		</a>
		<!--<a class="tab-item" href="#">
			<span class="icon icon-gear"></span>
			<span class="tab-label">Configurações</span>
		</a>-->
	</nav>
	{{/if}}
</template>
