<template name="home">
	<!-- Make sure all your bars are the first things in your <body> -->
	<header class="bar bar-nav">
		{{#unless connected}}<span class="icon icon-info pull-right" id="connectionIndicator"></span>{{/unless}}
		<a class="icon icon-refresh pull-right" href="#" id="a-refresh"></a>
		<h1 class="title">Paraíba Total</h1>
	</header>

	<!-- Olny filtering for now...-->
	<div class="bar bar-standard bar-header-secondary">
		<form>
			<input type="search" placeholder="Filtrar" value="{{filter}}" id="input-filter">
		</form>
	</div>

	<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
	<div class="content">
		<div id="RubberBandjs">
			<div class="rband">
				<span class="icon icon-down arrow"></span>
				<span class="load">{{> spinner}}</span>
				<h3 class="text"></h3>
			</div>
		</div>

		{{> listao}}
	</div>
</template>

<template name="listao">
	{{#if noticias}}
		<div class="card">
			<ul class="table-view">
				{{#each noticias}}
				{{> noticia}}
				{{/each}}
			</ul>
		</div>
	{{else}}
		<span class="badge" id="sadface">:(</span>
	{{/if}}
</template>

<template name="noticia">
	<li class="table-view-cell media">
		<a class="push-right" href="/news/{{anchor}}" data-transition="fade">
			<img class="media-object pull-left" src="{{thumbnailer thumb}}">
			<div class="media-body">
				<span class="badge badge-primary badge-inverted">{{pubTime}}</span>
				<br style="clear: both" />
				{{olho}}
				<p>{{titulo}}</p>
			</div>
		</a>
	</li>
</template>