<template name="noticias">
	<!-- Make sure all your bars are the first things in your <body> -->
	<header class="bar bar-nav">
		{{>aMenu}}
		<a class="icon icon-refresh pull-right" href="#" id="a-refresh"></a>
		<h1 class="title">Notícias</h1>
	</header>

	<!-- Olny filtering for now...-->
	<div class="bar bar-standard bar-header-secondary">
		<form>
			<input type="search" placeholder="Filtrar" value="{{filter}}" id="input-filter">
		</form>
	</div>

	<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
	<div class="content">
		<div id="RubberBandjs">
			<div class="rband">
				<span class="icon icon-down arrow"></span>
				<span class="load">{{> spinner}}</span>
				<h3 class="text"></h3>
			</div>
		</div>

		{{> noticiasList}}
	</div>
</template>

<template name="noticiasList">
	{{#if noticias}}
		<div class="card">
			<ul class="table-view">
				{{#each noticias}}
					{{> noticiasItem}}
				{{/each}}
				{{#if paginating}}
				<li id="paginating" class="table-view-cell media">
					<p class="media-body text-centered">carregando...</p>
				</li>
				{{/if}}
				{{#if maxPagesReached}}
				<li id="maxPagesReached" class="table-view-cell media">
					<p class="media-body text-centered">número máximo de notícias atingido</p>
				</li>
				{{/if}}
			</ul>
		</div>
	{{else}}
		<span class="badge" id="sadface">:(</span>
	{{/if}}
</template>

<template name="noticiasItem">
	<li class="table-view-cell media">
		<a href="/noticia/{{anchor}}" data-transition="fade">
			<img class="media-object pull-left" src="{{thumbnailer thumb}}">
			<div class="media-body">
				<span class="badge badge-inverted verde"><strong>{{pubTime}}</strong></span>
				<br style="clear: both" />
				{{olho}}
				<p>{{titulo}}</p>
			</div>
		</a>
	</li>
</template>