<template name="sobre">
	<!-- Make sure all your bars are the first things in your <body> -->
	<header class="bar bar-nav">
		{{>aMenu}}
		<h1 class="title">Sobre</h1>
	</header>

	<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
	<div class="content">

		<h4 class="text-centered verde" style="padding: 5% 0;">
			O primeiro portal com conteúdo exclusivo
			sobre economia, negócios e mercado da Paraíba
		</h4>

		<p class="text-centered">
			<strong>Editoria e coordenação de conteúdo</strong><br/>
			Andréia Barros
		</p>

		<p class="text-centered">
			<strong>Equipe de jornalismo</strong><br/>
			Adaucélia Palitot<br/>
			Izabelle Mendonça
		</p>

		<p class="text-centered">
			<strong>Concepção e desenvolvimento</strong><br/>
			Integrativa
		</p>

		<p class="text-centered">
			<strong>Fundador</strong><br/>
			Luiz Henrique Brito
		</p>

		<p class="text-centered">
			<a class="btn" href="http://www.facebook.com/paraibatotal" target="_blank"><img src="images/facebook.jpg"></a>
			<a class="btn" href="http://www.twitter.com/paraiba_total" target="_blank"><img src="images/twitter.jpg"></a>
		</p>
	</div>
</template>
